* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.introduction, .experience, .video {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #4CAF50;
}

.card {
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.certificate {
    text-align: center;
    margin-top: 20px;
}

.certificate-image {
    max-width: 100%;
    height: auto;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #4CAF50;
    color: white;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px; /* Size of the icons */
}

.social-media a:hover {
    color: #ddd; /* Change color on hover */
}

@media (max-width: 600px) {
    header, footer {
        padding: 20px;
    }

    .introduction, .experience, .video {
        margin: 10px;
        padding: 15px;
    }
    
    .card {
        padding: 10px;
    }
}
